section {
  padding: 5px;
  background-color: #bbb;
}

section.login-section {
  display: flex;
  justify-content: center;
  height: 200px;
}

section:nth-child(even) {
  background-color: #ddd;
}

header {
  margin-top: 100px;
  margin-bottom: 50px;
}
