ul.add-item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding: 0px;
  margin: 0px; */
}

li.add-item {
  margin: 2px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

span.add-item-detail-name {
  font-weight: bold;
}
