ul.add-item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

li.add-item {
  margin: 2px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

span.add-item-detail-name {
  font-weight: bold;
}

div.add-item-input-container {
  margin-bottom: 5px;
}

button.save-button {
  border: 0;
  border-radius: 5px;
  color: #5c190c;
  width: 130px;
  height: 40px;
  background-color: #f4530b;
  font-size: 20px;
  font-weight: bold;
  text-shadow: #f0f0f0 0 0 4px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
