* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Montserrat", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  font-family: "Montserrat", san-serif;
}

h2 {
  font-size: 25px;
  margin: 5px;
  font-family: "Montserrat", san-serif;
}

h3 {
  font-size: 20px;
  margin: 2px;
}

strong {
  font-weight: bolder;
}

button {
  margin: 1px;
  padding: 5px;
  width: 80px;
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
option {
  border: 0;
  border-radius: 5px;
  color: #5c190c;
  width: 220px;
  height: 40px;
  background-color: #f0f0f0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 1px;
  padding: 5px;
}

input {
  margin: 1px;
  padding: 5px;
}

label {
  font-size: 20px;
  margin-right: 5px;
}

section {
  padding: 20px 5px 20px 5px;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section:nth-child(even) {
  background-color: #d2d2d0;
}

header {
  margin-top: 100px;
  margin-bottom: 50px;
}
