nav {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  background-color: #f4530b;
}

.nav-link {
  color: #5c190c;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-shadow: #f0f0f0 0 0 20px;
}

:hover.nav-link {
  text-shadow: #f0f0f0 0 0 20px;
  color: black;
}

.nav-link-divider {
  cursor: default;
  color: #5c190c;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

div.nav-name-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-right: 30px;
  margin-bottom: -18px;
}

p.nav-app-name {
  color: white;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}
