nav {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  background-color: #f4530b;
}

.nav-link {
  color: #5c190c;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-shadow: #f0f0f0 0px 0px 4px;
}

:hover.nav-link {
  color: #f0f0f0;
  text-shadow: black 0px 0px 0px;
}

.nav-link-divider {
  cursor: default;
  color: #5c190c;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

div.nav-name-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-right: 30px;
  margin-bottom: -20px;
}

p.nav-app-name {
  color: #f0f0f0;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
